<% include ./partials/header.ejs %>

<div class="container">

  <div class="jumbotron">

    <h1 class="text-center"><b><%= title %></b></h1>

    <br><br>

    <div class="alert alert-primary" role="alert">

      <div class="media position-relative">
        <img src="./Assets/images/Picture.jpg" width="180px" height="180px" class="mr-3" alt="...">
        <div class="media-body">

          <p>My name is Siddharth Pandya. I am currently enrolled in last semester of Software Engineering
            Technology at Centennial College, Toronto. </p>

        </div>
      </div>
      <h5 class="display-8"><b>&nbsp;Siddharth Pandya</b></h5>
    </div>

    <br><br>
    <div class="text-center">
      <a class="btn btn-info" href="/Assets/Resume(SET).pdf" download>Download My Resume</a>
    </div>
  </div>

</div>

<% include ./partials/footer.ejs %>