<% include ./partials/header.ejs %>

  <div class="container">

    <div class="jumbotron">

      <h1 class="display-4">Welcome to <%= title %></h1>
    
      About

      <br><br>

      <a class="btn btn-info" href="/Assets/Resume(SET).pdf" download>Download My Resume</a>

    </div>

  </div>
  
  <% include ./partials/footer.ejs %>