<% include ./partials/header.ejs %>

  <div class="container">

    <div class="jumbotron">

      <h1 class="display-4"><b>Welcome to E-Portfolio</b></h1>

      <p>This website provides you details about my knowledge, skills and projects that I have worked upon</p>

    </div>

  </div>
  
  <% include ./partials/footer.ejs %>