<% include ./partials/header.ejs %>

  <div class="container">

    <div class="jumbotron">

      <h1 class="text-center">Welcome to <%= title %></h1>

      <p class="text-primary">asdasd</p>

    </div>

  </div>
  
  <% include ./partials/footer.ejs %>